@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #BCB08A;
  --secondary: #303030;
  --tercero: #212121;
  --cuarto: #474747;
  --quinto: #F7F7F7;
  --sexto: #D9D9D933;
  --septimo: #FFFFFF5C;
  --black: #000;
  --white: #fff;
}

body {
  font-family: 'Poppins', sans-serif;
}

.bg-header{
  background-color: var(--secondary);
}

.bg-footer{
  background-color: var(--tercero);
}

.bg-tfs{
  background-color: var(--primary);
}

.bg-cuarto{
  background-color: var(--cuarto);
}

.bg-sexto{
  background-color: var(--sexto);
}

.bg-septimo{
  background-color: var(--septimo);
}

.bg-text{
  background-color: var(--quinto);
}

.text-menu{
  color: #F8F9FA;
  font-size: 15px;
  letter-spacing: .3px;
}

.text-tfs{
  color: var(--primary);
}

.hover:hover{
  color: #a59a77;
}

.hover-bg:hover{
  background-color: #a59a77;
}

.letter-spacing-25{
  letter-spacing: .25em;
}

.video{
  min-height: 660px;
}

.portada-video{
  min-height: 464px;
}

.portada-video-final{
  min-height: 600px;
}

.overlay-tulum{
  background-color: #053E47;
  opacity: 0.28;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.portada-tulum{
  background: url('../public/img/index/portada-riviera-maya.webp') 50% 50%;
  background-size: cover;
}

.portada-merida{
  background: url('../public/img/index/portada-merida.webp') 50% 50%;
  background-size: cover;
}

.portada-cabos{
  background: url('../public/img/index/portada-cabos.webp') 50% 50%;
  background-size: cover;
}

.portada-depas{
  background: url('../public/img/departamentos/portada-depas.png') 50% 50%;
  background-size: cover;
}

.portada-depas-final{
  background: url('../public/img/departamentos/portada-depas-final.png') 50% 50%;
  background-size: cover;
}

.video-fondo{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.video-fondo-portada{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: inherit;
  object-fit: cover;
}

.text-shadow{
  text-shadow: 0px 0px 22px rgba(0, 0, 0, 0.50);
}

.text-40{
  font-size: 40px;
}