@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #BCB08A;
  --secondary: #303030;
  --tercero: #212121;
  --cuarto: #474747;
  --black: #000;
  --white: #fff;
}

body {
  font-family: 'Poppins', sans-serif;
}

.bg-header{
  background-color: var(--secondary);
}

.bg-footer{
  background-color: var(--tercero);
}

.bg-tfs{
  background-color: var(--primary);
}

.bg-cuarto{
  background-color: var(--cuarto);
}

.text-menu{
  color: #F8F9FA;
  font-size: 15px;
  letter-spacing: .3px;
}

.text-tfs{
  color: var(--primary);
}

.hover:hover{
  color: #a59a77;
}

.hover-bg:hover{
  background-color: #a59a77;
}

.letter-spacing-25{
  letter-spacing: .25em;
}